!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body
    .citycover
      include ../includes/header
      .citycover-content.citycover-print
       .container.container-activate-gap
        .row
         div
          h1.bira-font.page-title Setting up a new Lassy
          - if(typeof(errors) == 'object' ){
            div.alert.alert-danger.signup-error
             ul
              each error in errors
               li.error #{error.type}
          - }
        .row.card_section
         div
          .bbox
           div
             form.stats-form(action="/lassy/picture/"+id, method="POST")
              h2.bira-font What are their stats?
              - if(typeof(stats) == 'object' )
                input(type="text", name="age", value=stats.age, maxlength="2", required="required", placeholder="Age...")
                input(type="text", name="height", value=stats.height, placeholder="Height...")
                input(type="text", name="weight", value=stats.weight, placeholder="Weight...")
                input(type="text", name="hair_color", value=stats.haircolor, placeholder="Hair Color...")
                input(type="text", name="eye_color", value=stats.eyecolor, placeholder="Eye Color...")
                select(name="boy_girl")
                  option(value="boy") Girl
                  option(value="girl") Boy
                input(type="text", name="med_condition", value=stats.medicanl_conditions, placeholder="Medical Conditions...")
              - else
                input(type="text", name="age", value="", maxlength="2", required="required", placeholder="Age...")
                input(type="text", name="height", value="", placeholder="Height...")
                input(type="text", name="weight", value="", placeholder="Weight...")
                input(type="text", name="hair_color", value="", placeholder="Hair Color...")
                input(type="text", name="eye_color", value="", placeholder="Eye Color...")
                select(name="boy_girl")
                  option(value="boy") Girl
                  option(value="girl") Boy
                input(type="text", name="med_condition", value="", placeholder="Medical Conditions...")
              input(type="hidden", name="_id", value=id)
              div
                input.btn.btn-warning.btn-large(type="submit", value="Next")
      include ../includes/footer

    
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/bootbox.js')
    script(type='text/javascript', src='/js/jquery.maskedinput.min.js')
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25468002-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();